<div class="col-xs-2 sidebar">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default sidebar-title">
            <div class="panel-heading sidebar-heading">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-cog"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        系统管理
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-user"></span>
                        <a href="#usermanager">用户管理</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default sidebar-title">
            <div class="panel-heading sidebar-heading">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-th"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        基础数据管理
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-book"></span>
                        <a href="#companytypemanager">公司类型管理</a>
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-globe"></span>
                        <a href="#regionmanager">区域管理</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default sidebar-title">
            <div class="panel-heading sidebar-heading">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-wrench"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        机构管理
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-tower"></span>
                        <a href="#companymanager">公司管理</a>
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-credit-card"></span>
                        <a href="#departmentmanager">部门管理</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default sidebar-title">
            <div class="panel-heading sidebar-heading">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-briefcase"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        业务过程管理
                    </a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default sidebar-title">
            <div class="panel-heading sidebar-heading">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                        业务报表管理
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>